.PubRow
{
    FONT-SIZE: 10px;
    TEXT-TRANSFORM: uppercase;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #ffffff
}
.SeccRow
{
    FONT-SIZE: 10px;
    BACKGROUND-COLOR: #ffffff
}
.PubRows
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    TEXT-TRANSFORM: uppercase;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #eef3fb
}
.SeccRows
{
    FONT-SIZE: 10px;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: #eef3fb
}
